#install at /etc/systemd/systemd
# to enable service sudo systemd enable dr4000.service
# to start service sudo systemd start dr4000.service

[unit]
Description=Get PM concentration and TWA

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env python3 /home/pi/receiverArduino/receiver/dataramCommunication.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
